[Desktop Entry]
Version=1.1
Type=Application
Name=CartoTypeMaps
Comment=Multi-platform desktop application for viewing maps, calculating routes, finding places, creating map images, and adding your own map data.
Icon=CartoTypeMaps
Exec=env LD_LIBRARY_PATH=/opt/CartoTypeMaps:/usr/lib:/usr/lib32 /opt/CartoTypeMaps/CartoTypeMaps
Path=/opt/CartoTypeMaps
Actions=
Categories=GIS;
